.react-calender {
    background-color: white !important;
    border: 1px solid #a0a096;
}

.rbc-header {
    background: rgb(220 38 38);
    color: white;
}

.rbc-toolbar-label {
    font-weight: bold;
}

.rbc-event {
    background-color: black !important;
}


